:root {
  --roomHeight: 800px;
  --roomWidth: 1200px;
  --depth: 400px;
  --card-height: 35vh;
  --card-width: 40vw;
  --card-clr1: #8296d8;
  --card-clr2: #7d818e;
  --card-clr3: #461cd0;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 50px;
  position: relative;
  color: #555555;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dimension {
  position: absolute;
  top: 0;
  width: 500px;
  height: 100px;
  margin: 0;
  border: 1px solid red;
  font-size: 25px;
}

.width,
.height {
  display: block;
  margin: 0;
  padding: 0;
}

.portfolio {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}

.room {
  position: relative;
  width: 80%;
  height: 75%;
  transform-style: preserve-3d;
}

.walls {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  border: 1px solid rgb(11, 11, 11);
  background-color: #191919;
  box-shadow: 0em 0em 2em #000 inset;
}

.back {
  transform: translateZ(calc(var(--depth) * -1));
}
.left {
  transform-origin: 0 0;
  transform: translateZ(calc(var(--depth) * -1)) rotateY(-90deg);
}
.right {
  transform-origin: 100% 0%;
  transform: translateZ(calc(var(--depth) * -1)) rotateY(90deg);
}
.top {
  transform-origin: 0% 0%;
  transform: translateZ(calc(var(--depth) * -1)) rotateX(90deg);
}
.bottom {
  transform-origin: 0% 100%;
  transform: translateZ(calc(var(--depth) * -1)) rotateX(-90deg);
  box-shadow: 1em -1em 5em #000 inset;
  background-image: radial-gradient(circle, transparent, #000 40em),
    repeating-conic-gradient(
      #686868 0 15deg,
      #707070 0 30deg,
      #808080 0 60deg,
      #909090 0 75deg,
      #a0a0a0 0 90deg
    );
  background-size: 100% 100%, 2em 2em;
}

.textContainer {
  display: inline-block;
  width: 100%;
  text-overflow: clip;
  padding-left: 35px;
}
.myName {
  font-size: 1.5em;
  letter-spacing: 8px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 20px 0px;
  animation: typing 2s ease-out;
}

.salutation {
  font-size: 0.8em;
}

.description {
  font-size: 0.6em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@property --rotate {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.card {
  margin-left: 20px;
  margin-top: 40px;
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 0.7em;
  color: var(--card-clr1);
}

.card::before,
.card::after {
  content: '';
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(
    var(--rotate),
    var(--card-clr1),
    var(--card-clr2) 43%,
    var(--card-clr3)
  );
  animation: spin 2.5s linear infinite;
}

.card::before {
  width: 102%;
  height: 102%;
  border-radius: 8px;
  top: -1%;
  left: -1%;
}

.card::after {
  /* top: calc(var(--card-height) / 10); */
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /* transform: scale(0.8); */
  /* filter: blur(calc(var(--card-height) / 15)); */
  box-shadow: 0 0 0.7em var(--card-clr2);
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
